<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>See tasks</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user  let-rowIndex="rowIndex">
        <tr>
            <td>{{ rowIndex }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Email }}</td>
            <td>
                <a [routerLink]="['/tasks' ]" [queryParams]="{userId: user.Id}">
                    See tasks
                </a>
            </td>
        </tr>
    </ng-template>
</p-table>
